:root {
    --width-max: 100vw
}
.head {
    width: var(--width-max);
    background-color:tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head div {
    display: flex;
    align-items: center;
}
.imgYouTube {
    width: 7rem;
}
.divSearch {
    border:1px solid grey;
}
.imgSearch {
    width: 2rem;
}
.inputSearch {
    height: 2rem;
    width: 39rem;
}